

.nav a {
  color: navy;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 10px;

}

  .nav li {
    display: inline;
  }
.aboutpage {
  background-color: #75ce66;
}

#title {
  color: black;
  font-size: 120px;
  background: url(http://trentwalton.com/bgclip/img/paint.png) repeat, white;
  font-family: 'Handlee', cursive;
  font-weight: bolder;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.jumbotron h1 {

  font-size: 99px;
  font-family: 'Merriweather' serif;
  text-align: center;
  text-decoration: underline;
}

.jumbotron p {
  font-size: 20px;
  color: white;
  font-family: 'Merriweather' serif;
}

.founders {
  text-align: justify;
  color: black;
  font-family: 'Merriwearher' sans-serif;
}
