.nav a {
  color: navy;
  font-size: 15px;
  font-weight: bolder;
  padding: 20px 10px;
}

  .nav li {
    display: inline;
  }
.aboutpage {
  background-color: #75ce66;
}

#title {
  color: black;

}

.jumbotron h1 {

  font-size: 49px;
  font-family:sans-serif;
  text-align: center;
  text-decoration: underline;
}

.jumbotron p {
  font-size: 20px;
  color: white;
  font-family: sans-serif;

}

.founders {
  text-align: center;
  color: navy;
  font-family: sans-serif;
}
