
.post-design {
  border: 5px solid #75ce66;
  text-align: center;
  background-color: white;
  width: 1000px;
  border-radius: 16px
}

.nav a {
color: navy;
font-weight: bolder;
font-size: 20px;
padding: 20px 10px;
}
.nav li {
  display: inline;
}
.background {
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}
#advice {
  text-align: justify;
  font-size: 25px;
}
#title {
  color: white;
}
#nombre {
  font-size: 25px;
  font-family: 'questrial', serif;
  color: black;

}
#author {
  font-size: 25px;
  font-family: 'Questrial', serif;
}
.jumbotron h1 {

  font-size: 99px;
  font-family: 'Merriweather' serif;
  text-align: center;
  /*text-decoration: underline;*/
}

.aboutpage {
  background-color: #c03b44;
}

#titlestyle {
  font-family: 'Merriweather' serif;
  color: navy;
  text-indent: 20px;
}
#authorstyle  {
  font-family: 'Merriweather' serif;
  color: navy;
}
