.center {
    text-align: center;
}

.go-back-button {
  padding:10px;
  background-color: #eee;
  border: 5px solid #f0ca45;
  color:#000;
  text-decoration:none;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	width: 150px;
	color: #75ce66;
	font-size: 20px;
  margin: auto;
  border:3px solid #75ce66;
  padding: 10px;
}

.go-back-button:hover {
  color:#f00;
	border: none;
	background:#75ce66;
	box-shadow: 0px 0px 1px #777;
}

.nav a {
  color: navy;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 10px;

}

  .nav li {
    display: inline;
  }
.aboutpage {
  background-color: #75ce66;
  color: white;
}

#tips {
  color: black;
  font-family: 'questrial' serif;
  font-size: 20px;
  text-align: justify;
}
.advice {
  margin-left: 15%;
  margin-right:15%
}
.jumbotron h1 {

  font-size: 99px;
  font-family: 'Merriweather' serif;
  text-align: center;
}
