/*#scholarship {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}*/

#anni{
display:none
}
.nav a {
  color: navy;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 10px;
}

  .nav li {
    display: inline;
  }
.aboutpage {
  background-color: lightgreen;
}

.jumbotron h1 {
  color: blue;
  font-size: 49px;
  font-family: 'Merriweather', sans-serif;
  text-align: center;
  text-decoration: underline;
}
#school {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: white;
  text-align: justify;
}

.scholarships {
  text-align: justify;
  font-size: 15px;
  font-family: 'Merriweather' serif;

}
.col-md-6 {
  font-size: 20px
}

.button {
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.button:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
