.nav a {
  color: navy;
  font-size: 15px;
  font-weight: bolder;
  padding: 20px 10px;
}

  .nav li {
    display: inline;
  }
.aboutpage {
  background-color: lightgreen;
}

/*#scholarship {
  color: black;*/

.jumbotron h1 {
  color: blue;
  font-size: 49px;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  text-decoration: underline;
}

.jumbotron p {
  font-size: 15px;
  color: white;
  font-family: sans-serif;

}

.scholarships {
  text-align: justify;
  font-size: 15px;
  font-family: 'Merriweather' serif;

}
.col-md-6 {
  font-size: 20px
}
