#center-comments{
  border-top: 5px solid grey;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 100px;
  border-width: thin;
}

#font-change{
  font-size: 25px;
  font-family: 'Questrial', serif;
}

#font{
font-size: 18px;
}

.nav a {
  color: navy;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 10px;
}
  .nav li {
    display: inline;
  }

#somewhat-post-design{
  background-image: url("../img/road-to-college.jpg");
  margin: auto;
  width: 90%;
  padding: 10px;
}

#another-id {
  text-align: center;
  width: 1000px;
  display: block;
  line-height: 21px;
  margin: auto;
  width: 90%;
  padding: 10px;
}
.entire-post-design{
  text-align: center;
  background-color: #e9f0f5;
  width: 800px;
  display: block;
  line-height: 21px;
  margin: auto;
  width: 60%;
  padding: 10px;
  box-shadow: inset 3px 4px 5px #000;
}

body{
background-color: #75ce66;
}
