<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
  <title>Post</title>

  {% for post in posts %}
    <h3>Title: {{ post.title }}</h3>
    <h3>Author: {{ post.author }}</h3>
    <h5>{{ post.date.strftime("%d/%m/%y") }}</h5>
    <p>{{ post.content }}</p>

      <form action="/showposts" method="post">
        <!-- It needs to take inputs for the commenters name and comment -->
        <div>Name: <input name="name"></input></div>
        <div>Comment: <input name="comment"></input></div>
        <!-- This next line is a sneaky way to make sure we know what post we are talking about -->
        <div><input type="hidden" name="post_url_key" value="{{ post.key.urlsafe() }}">
        <div><input type="submit" value="Leave Comment"></div>
      </form>
      {% for comment_key in posts.comment_keys %}
        <h5>Commenter: {{ comment_key.get().name }}</h5>
        <p>{{ comment_key.get().comment }}</p>
      {% endfor %}
      {% endfor %}
      <hr>
  </body>
</html>
{% endautoescape %}
