

.nav a {
  color: navy;
  font-size: 15px;
  font-weight: bolder;
  padding: 14px 10px;
}

  .nav li {
    display: inline;
  }

.jumbotron h1 {
  color:  navy;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;

}
.jumbotron p {
  font-size: 20px;
  color: navy;
  font-family: sans-serif;
}
.founders {
  text-align: center;

}
.aboutpage {
  background-color: gray;
