#title-line1, #title-line2, #title-line3 {display:inline-block;}

#title-line1.char1 { color:#e1492f; }
#title-line2.char1{color:#8b3fb2;}
#title-line3.char1{color:#f79d00;}

#title-line3.char3{margin-right:20px;}

h2 .first::first-letter{color:#e1492f;}
h2 .second::first-letter{color:#8b3fb2;}
h2 span.third::first-letter{color:#f79d00;}
h2 span.fourth::first-letter{color:#f56360;}




#grad4 {
    height: 1000px;
     background: -webkit-linear-gradient(180deg, white, blue);
}
